<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-building fa-5x"></i><br><br>Cidades</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.bairrosPage()"><i
                                class="fa fa-bold fa-5x"></i><br><br>Bairros</button>
                        </div>
                       <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.ruasPage()"><i
                                class="fa fa-road fa-5x"></i><br><br>Ruas</button>
                        </div>                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.estadosPage()"><i
                                class="fa fa-industry fa-5x"></i><br><br>Empresas</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-id-card-o fa-5x"></i><br><br>Contribuintes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>